<div class="row">
  <div class="large-10 columns">
    <fieldset>
      <%= form_for @genre do |f| %>
        <legend>Add genre</legend>
        	<div class="row">
          	<div class="large-12 columns">
	          	<%= f.label :name %>
	          	<%= f.text_field :name %>
	          	<%= f.submit "ADD", class: "button tiny expand" %>
	          </div>
	        </div>
	      <% end %>
    </fieldset>
  </div>
</div>

